@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
    ViewData["Title"] = "Jouw Naam";
}

@using OpdrachtWeekDrie.Models
@model List<Student>

@{Layout = "_Layout";}
<div> We hebben bekeken hoe vaak jouw naam voorkomt.</div>
<div>@ViewData["Message"]</div>